body {
    background-color: #fff;
    padding: 20px;
    margin: 0;
  }

  h1, h2, p, ul, li {
    font-family: sans-serif;
  }

  .center {
      text-align: center;
  }

  .header-content {
    padding: 0 25px;
  }

  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }

  ul.header {
    background-color: #fff;
    padding: 0;
  }

  ul.header li a {
    color: rgb(126, 123, 123);
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }

  .content {
    background-color: #FFF;
  }

  .content h2 {
    padding: 0;
    margin: 0;
  }

  .content li {
    margin-bottom: 10px;
  }

  .active {
      background-color: #0099FF;
  }

  .home-header {
    padding: 150px 0;
    color: white;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  }

  .home-header-h3 {
    padding-top: 25px;
  }

  